*{
    text-decoration: none;
    font-size: medium;
}
h1{
    font-size: 100px;
}
a{
    text-decoration: none;
    font-size: 100px;
    color: black;
}
#table{
    height:20%;
    text-decoration: none;
    font-size: 100px;
    color: black;
}
